*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.morden_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: black;
    color: azure;
}

l.brand{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

ul{
    display: flex;
    justify-content: space-between;
}