/* universal selector */ */
*{
    /* color: red; */
    margin: 0;
    padding: 0;
 }
/* tag selector or element selector */
/* h1{
    color:blue;
    text-align: center;
}

/* attribute selector */
/* a[title="facebook"]{
    color:green;
}

/* idselector */
#idselector{
    color: blue;
    font-size: 40px;
}

/* class selector */

.classselector{
    color: brown;
    text-transform: uppercase;
    font-size: 20px;
    text-indent: 50px;

} 

/* Descendant Selector */
.desc a{
    color: red;
}

/* Child Selector */
.child > a{
    color:green;
}

/* Pseudo */
a:link {
    color: green;
    letter-spacing: 10px;
    text-decoration: none;
}

a:hover {
    color: blue;
    letter-spacing: 10px;
}

a:active{
    color: yellow;
    font-size: 20px;

}

a:visited{
    color: rgb(247, 159, 26);
}

/* target */
:target{
    color:red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Border */
.borderOne{
    border: 2px double green;
}

.borderTwo{
    border-top: 5px solid red;
    /* border-bottom: 5px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red; */
}

/* border with */
.borderThree{
    border-style: double;
    /* border-width: 10px; */
    /* T,R,B,L */
/* border-width: 5px 50px;    */
 /*T&B , L&R  */
 /* border-width: 5px 10px 50px; */
 /* T, L&R, B */
 border-width: 5px 10px 15px 20px;
 /* T,R,B,L */
}

/* borderStyle */
.borderFour{
    border-style: solid double dotted dashed;
    border-width: 5px;
    border-color: green yellow red blue;
}

h1{
    text-align: center;
    color: red;
}
 /* margin */
.marginOne{
    border: 2px solid red;
    /* margin: 50px 0px 0px 0px */
    margin-top: 50px;
    
}

/* padding */
.paddingOne{
    border: 2px solid red;
    /* padding: 50px; */
    padding-left: 50px;

}

.Inline{
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

.block{
    border: 2px solid green;
    width: 300px;
    display: inline-block;
}

/* float right */

.Float_right_image{
    width: 300px;
    float: right;
}

.clear{
    clear: both;
}

.Float_left_image{
    float: left;
    width: 300px;
}

/* flex */

.flex{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    flex-direction: row;
    /* justify-content: center; */
    height: 100px;


}
/* grid */

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: auto auto auto; */
    color: #FFFFFF;
    /* grid-row-gap: 40px; */
    /* grid-coloum-gap: 30px; */
    /* grid-gap:30px; */

}

.grid_child , .grid div{
    padding: 20px;
    text-align: center;
}
.row_add{
    grid-column-start:2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.column_add{
    grid-column-start: 2;
    grid-column-end: 4;
}

/* media queries */
.media{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
}

.media img{
    width: 100%;
}

@media screen and (min-width: 768px){
    .media{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 1024px){
    .media{
        grid-template-columns: repeat(3,1fr);
    }
}

/* position */
.position_relartive{
    border: 2px solid red;
    width: 1000px;
    height: 500px;
}
.position_relartive_child{
    border: 2px solid green;
    width: 500px;
    height: 200px;
    position: relative;
    /* top button left right */
    top: 50px;
    left:50px;
}

.position_absolution{
    border: 2px solid rgb(0, 255, 64);
    width: 1000px;
    height: 500px;
    position: relative;
}

.position_absolution_child{
    border: 2px solid orangered;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.fixed{
    position: fixed;
    top: 50px;
    right: 50px;
}

/* font */
.online_font{
font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}

/* offline_font */
@font-face {
    font-family: "abc";
    src: url("font/BlackOpsOne-Regular.ttf");
}

.offline_font{
    font-family: "abc";
}



